.section-title-profile {
  margin-top: 14px;
}

/* General Info */
.general-links {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 14px;
  margin-top: 5px;
}

.profile-pic {
  max-width: 95px;
  border-radius: 50%;
}

/* .general-links a {
  text-decoration: none;
  color: black;
}
.general-links a:hover {
  text-decoration: underline;
} */

/* Social Links */
.social-links {
  margin-top: 15px;
}

.social-links-list {
  list-style: none;
}

.social-link-item a {
  display: flex;
  align-items: center;
  gap: 5px;
}

span.social-text {
  font-size: 12px;
}

/* Skills */
.skills-list {
  list-style: none;
  margin-top: 8px;
}

.skill-item p {
  font-size: 13px;
}

progress {
  width: 100%;
}

/* Hobbies */
.hobbies-item-container {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hobbies-item {
  font-size: 13px;
  color: #737373;
  border: 1px solid #737373;
  border-radius: 20px;
  padding: 3px 8px;
}

/* Education */
.education-location-date {
  font-size: 13px;
  color: #737373;
  margin-top: 3px;
}

.card-subtitle-education {
  font-size: 13px;
  margin-top: 3px;
}

/* Certifications */
.card-certification p {
  font-size: 13px;
}

.subtitle-cert {
  color: #737373;
  margin-top: 3px;
}