* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-height: 100vh;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
}

header {
  padding: 25px;
  background-color: #404040;
  color: white;
}

main {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 90px minmax(0, 2fr) 5fr;
}

footer {
  padding: 10px;
  background-color: #404040;
  color: white;
  display: flex;
  justify-content: center;
}

#cv-form-container, #cv-edit-bar {
  overflow-y: auto;
}

.preview-btn-container {
  display: flex;
  justify-content: center;
}

.print-btn {
  margin-left: 40px;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: cornflowerblue;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.print-btn:hover {
  background-color: blue;
}

.load-pdf-btn {
  background-color: #fb923c;
}
.load-pdf-btn:hover {
  background-color: #f97316;
}

.clear-pdf-btn {
  background-color: #f87171;
}
.clear-pdf-btn:hover {
  background-color: #ef4444;
}